/* GLOBAL */
html{
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #cccccc;
  scrollbar-width: none;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a{
  text-decoration: none;
  color: inherit;
}
p{
  margin: 0;
}

/* HEADER */
header h1{
  text-align: center;
}

.topnav {
  background-color: #1b1555;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: blue;
  color: white;
}

.topnav a.active {
  background-color: #3568ea;
  color: white;
}
.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* BODY */

.seccion{
  background-color: white;
  padding: 10px 20px 30px 20px;
  border: 2px solid #adadad;
  border-radius: 12px;
  max-width: 900px;
  margin: auto;
  margin-bottom: 20px;
}

.seccion:first-of-type{
  margin-top: 20px;
}

.about{
  display: flex;
  gap: 20px;
}

.descrip-about p{
  margin-bottom: 10px;
}

.info-datos {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.info-datos:first-of-type{
  margin-top: 20px;
}

.info-datos a:hover{
  color: #1b1555;
  transition: .3s;
}
.montaje{
  position: relative;
  width: fit-content;
  display: inline-block;
}

.imgPerfil{
  display: block;
  width: auto;
  height: 150px;
}

.capa{
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 10px;
  padding: 5px;
  text-align: center;
}

.montaje:hover .capa{
  opacity: 1;
}

.meter {
  width: 80%;
  height: 20px;
  border: none;
}

.meter::-webkit-meter-bar {
  background: #e6f2fb;
  border-radius: 8px;
}
.meter::-webkit-meter-optimum-value {
  background: #1b1555;
  border-radius: 8px;
}
.meter::-moz-meter-bar {
  background: #1b1555;
}

/* FOOTER */

footer{
  background-color: #1b1555;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin-top: 30px;
}

footer a:hover{
  color:#3568ea;
  transition: all;
  transition-duration: .5s;
}

@media (max-width: 700px) {
  .seccion{
    width: 100%;
    max-width: 100%;
  }
  .about{
    flex-direction: column;
  }
}